.poof {
    animation-name: poof-animation;
    animation-duration: 0.285s;
    animation-fill-mode: forwards;
}

@keyframes poof-animation{
    100%{
        display: none;
        opacity: 0;
    }
}
